{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Final Squad{% endblock %}

{% block page_content %}
    <div class="page-header">
         <h1> Fantasy Squad </h1> 
         
    </div>

<h2> selections </h2>        
{% for player in selections %}
  <p> {{ loop.index}}. {{player}} </p>
{% endfor %}  

<br/> 
<p> Captain: {{Cap_Vc_Dict['captain']}}</p> 
<p> Captain: {{Cap_Vc_Dict['vice_captain']}}</p> 

<br/>

<h5> Go back in your browser to make any changes, otherwise Confirm your squad by hitting the Submit below </h5>

{{ wtf.quick_form(form) }} 

{% endblock %}